@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800|Vollkorn:400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive|Satisfy");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700");
#bg1 {
  min-height: 100vh; }
  #bg1 .navbar-default {
    background: none;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.9s;
    border: none; }
    #bg1 .navbar-default a {
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 14px; }
    #bg1 .navbar-default .navbar-header a {
      font-size: 36px;
      font-family: 'Satisfy', cursive;
      letter-spacing: 0.5px; }
  #bg1 .col-md-12 {
    padding-top: 100px; }
    #bg1 .col-md-12 a {
      font-size: 30px;
      color: #fff; }
  #bg1 .col-md-6 {
    margin-top: 200px;
    border-left: 5px solid #BE2525;
    margin-left: 10px;
    color: #fff;
    font-size: 40px;
    padding-left: 50px; }
    #bg1 .col-md-6 p span {
      font-family: 'Satisfy', cursive; }

#bg1 .col-md-6 button {
  border-radius: 50px;
  padding: 10px;
  width: 150px; }
#bg1 .top-nav-collapse {
  background: #fff;
  padding: 0; }
  #bg1 .top-nav-collapse a {
    color: #222; }
  #bg1 .top-nav-collapse .navbar-brand {
    color: #00a3de; }

#bg1 .navbar-collapse .active a {
  background: none;
  color: #00a3de; }

#two {
  padding-top: 50px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif; }
  #two span {
    color: #00a3de; }
  #two h2 {
    margin-bottom: 40px; }
  #two h4 {
    font-size: 25px;
    font-weight: 600; }
  #two h5 {
    font-size: 18px; }
  #two p {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    color: #6c757d !important;
    font-weight: 400;
    text-align: justify;
    font-size: 16px; }
  #two h3 {
    font-family: 'Nunito Sans', sans-serif;
    color: #212529;
    font-size: 16px;
    font-weight: 700; }
  #two .col-md-4 img {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%; }
  #two .col-md-8 {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 60px; }
    #two .col-md-8 ul li {
      display: inline-block;
      margin-right: 20px; }
      #two .col-md-8 ul li .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid black; }
        #two .col-md-8 ul li .circle a {
          color: #212529; }
          #two .col-md-8 ul li .circle a i {
            margin-top: 10px;
            font-size: 20px; }
      #two .col-md-8 ul li .circle:hover {
        background: #3b5998;
        border: 1px solid #3b5998; }
        #two .col-md-8 ul li .circle:hover a {
          color: #fff; }
      #two .col-md-8 ul li .circle1 {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid black; }
        #two .col-md-8 ul li .circle1 a {
          color: #212529; }
          #two .col-md-8 ul li .circle1 a i {
            margin-top: 10px;
            font-size: 20px; }
      #two .col-md-8 ul li .circle1:hover {
        background-color: #1da1f2;
        border: 1px solid #1da1f2; }
        #two .col-md-8 ul li .circle1:hover a {
          color: #fff; }

#three h2 {
  padding-bottom: 30px; }
  #three h2 span {
    color: #00a3de; }
#three .col-md-6 {
  padding-left: 15px;
  padding-right: 15px; }
  #three .col-md-6 .hello {
    border-radius: 7px;
    border: 1px solid #e7e7e7;
    padding: 30px; }
    #three .col-md-6 .hello h3 {
      font-weight: bold;
      color: #333; }
    #three .col-md-6 .hello h4 {
      color: #6c757d;
      font-family: 'Lato', sans-serif; }
    #three .col-md-6 .hello p {
      font-family: 'Lato', sans-serif;
      color: #6c757d !important;
      font-weight: 400;
      text-align: justify;
      font-size: 16px; }
  #three .col-md-6 .hello:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

#four h2 {
  padding-bottom: 30px;
  padding-top: 50px; }
  #four h2 span {
    color: #00a3de; }

.gallery-title {
  font-size: 36px;
  color: #42B32F;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px; }

.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e; }

.filter-button {
  font-size: 18px;
  border: 1px solid #6c757d;
  border-radius: 5px;
  text-align: center;
  color: #6c757d;
  margin-bottom: 30px; }

.filter-button:hover {
  font-size: 18px;
  border: 1px solid #00a3de;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #00a3de; }

.btn-default:active .filter-button:active {
  background-color: #42B32F;
  color: white; }

.port-image {
  width: 100%; }

.gallery_product {
  margin-bottom: 30px; }

.gallery_product:hover .cover {
  display: block; }

img {
  position: relative; }

.cover {
  width: 92.5%;
  height: 100%;
  background: #00a3de;
  opacity: 0.9;
  color: #fff;
  position: absolute;
  left: 15px;
  top: 0px;
  display: none;
  padding-top: 40%;
  box-sizing: border-box; }
  .cover h3 {
    font-weight: bold; }
  .cover p {
    font-weight: bold;
    font-size: 16px; }

#five {
  padding-top: 50px; }
  #five p {
    color: #fff; }
  #five h2 {
    padding-bottom: 30px; }
    #five h2 span {
      color: #00a3de; }
  #five .bg2 {
    background: #333;
    padding: 30px; }
  #five form .hell {
    width: 60%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px; }
  #five form .hell1 {
    width: 60%;
    height: 114px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px; }

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

body {
  font-family: 'Vollkorn', 'Poppins', sans-serif, serif; }

ul {
  list-style: none; }

/* footer */
.contact-area {
  position: relative; }

.contact-us {
  background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 300px;
  padding: 60px 0;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite; }

@-webkit-keyframes slide {
  from {
    background-position: 0 0; }
  to {
    background-position: -400px 0; } }
.contact-list li i.fa {
  color: #000;
  font-size: 16px;
  margin-right: 5px; }

.contact-list li {
  margin-bottom: 15px; }

.contact-list li a {
  color: #000;
  font-size: 16px;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease; }

.contact-list li a:hover {
  background-color: #00a3de;
  text-decoration: none; }

.social-content {
  position: relative;
  z-index: 2;
  max-width: 1578px;
  background: #00a3de;
  border-radius: 5px;
  text-align: center;
  padding: 50px 20px;
  margin: 0 auto; }

.social-title {
  display: block;
  color: #0477ae;
  margin-bottom: 20px;
  letter-spacing: -1px; }

.socials {
  display: table;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #5cc2e9;
  max-width: 1444px;
  margin: 0 auto; }

.socials .item:first-child {
  border-left: none; }

.socials .item {
  background: rgba(37, 37, 37, 0.1);
  border-left: 1px solid #5cc2e9;
  display: table-cell;
  height: 73px;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  transition: background .2s ease-out; }

.contact-area h2 {
  margin-bottom: 30px; }
  .contact-area h2 span {
    color: #00a3de; }

/* End footer */
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Cedarville Cursive', cursive;
font-family: 'Satisfy', cursive;*/
body {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=style.css.map */
X
Validation failed. Please retry or wait till
W3C allows validation again